<!DOCTYPE html>
<html lang="en">
  <head th:replace="partials :: head">
    <!-- How can I overwrite a component of a fragment? -->
    <title>Roll Dice</title>
  </head>
<body>

  <nav th:replace="partials :: navbar"></nav>

  <div id="results" class="d-flex flex-column align-items-center m-auto p-5">
    <h1 th:text="${answer}"></h1>
    <h1 th:text="${guess}"></h1>
    <h1 th:text="${result}"></h1>
  </div>
  <div id="guesses" class="d-flex justify-content-center m-auto p-5">
    <form action="/roll-dice/1" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="1">1</button>
    </form>
    <form action="/roll-dice/2" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="2">2</button>
    </form>
    <form action="/roll-dice/3" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="3">3</button>
    </form>
    <form action="/roll-dice/4" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="4">4</button>
    </form>
    <form action="/roll-dice/5" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="5">5</button>
    </form>
    <form action="/roll-dice/6" method="get" class="d-inline">
      <button type="submit" class="btn btn-outline-primary btn-lg m-1" name="guess" value="6">6</button>
    </form>
  </div>

  <footer th:replace="partials :: footer"></footer>
  <div th:replace="partials :: script"></div>

</body>
</html>